Repository MESAHub/mesa, changes with the owners that CODEOWNERS names for each.
All owners: @rhdtownsend, @warrickball, @aarondotter, @adamjermyn, @orlox, @rjfarmer, @fxt, @evbauer, @richtownsend, @mjoyceGR, @rsmolec, @annethoul, @wmwolf

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

### Modules ###

adipls/ @rhdtownsend @warrickball
astero/ @warrickball
atm/ @rhdtownsend @warrickball @aarondotter
autodiff/ @adamjermyn
binary/ @orlox
chem/ @rjfarmer @fxt @aarondotter
colors/ @rjfarmer
const/ @rjfarmer @fxt @aarondotter
data/ @rjfarmer
docs/ @rhdtownsend
eos/ @fxt @aarondotter @adamjermyn @evbauer
gyre/ @rhdtownsend @warrickball
hdfio5 @richtownsend
interp_1d/ @rhdtownsend @adamjermyn
interp_2d/ @rhdtownsend @adamjermyn
kap/ @fxt @aarondotter
linters/ @rjfarmer
turb/ @adamjermyn
math/ @rhdtownsend
mtx/ @adamjermyn @rjfarmer @mjoyceGR
net/ @rjfarmer @fxt
neu/ @rjfarmer @fxt
num/ @adamjermyn
rates/ @rjfarmer @fxt
#star/
#star_data/
#stella/ 
utils/ @rhdtownsend @warrickball @rjfarmer

### Star ###

star/private/auto_diff_support.f90 @adamjermyn
star/private/pgstar_*.f90 @rjfarmer
star/private/rsp_*.f90 @rsmolec
star/private/phase_separation.f90 @evbauer

### Test suite cases ###

star/test_suite/1.3M_ms_high_Z @fxt 
star/test_suite/1.4M_ms_op_mono @fxt
star/test_suite/15M_dynamo @fxt
star/test_suite/1.5M_with_diffusion @annethoul
star/test_suite/16M_conv_premix @annethoul
star/test_suite/16M_predictive_mix @annethoul
star/test_suite/1M_pre_ms_to_wd @annethoul @mjoyceGR
star/test_suite/1M_thermohaline @mjoyceGR
star/test_suite/20M_z2m2_high_rotation
star/test_suite/5M_cepheid_blue_loop @annethoul @rsmolec
star/test_suite/7M_prems_to_AGB @annethoul
star/test_suite/accreted_material_j @orlox
star/test_suite/adjust_net @rjfarmer
star/test_suite/c13_pocket @fxt
star/test_suite/carbon_kh @evbauer
star/test_suite/cburn_inward @rjfarmer
star/test_suite/ccsn_IIp @rjfarmer @fxt
star/test_suite/check_redo @fxt
star/test_suite/conductive_flame @fxt @rjfarmer
star/test_suite/conserve_angular_momentum @orlox
star/test_suite/custom_colors @rjfarmer
star/test_suite/custom_rates @evbauer @adamjermyn @fxt
star/test_suite/high_rot_darkening @orlox
star/test_suite/dev_ppisn @rjfarmer
star/test_suite/diffusion_smoothness @fxt
star/test_suite/extended_convective_penetration @fxt
star/test_suite/gyre_in_mesa_bcep @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_envelope @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_ms @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_rsg @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_spb @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_wd @rhdtownsend @annethoul
star/test_suite/hb_2M @annethoul
star/test_suite/high_mass @fxt @rjfarmer
star/test_suite/high_z @fxt
star/test_suite/hot_cool_wind @fxt
star/test_suite/hse_riemann @fxt
star/test_suite/irradiated_planet @fxt
star/test_suite/low_z @aarondotter
star/test_suite/magnetic_braking @adamjermyn
star/test_suite/make_brown_dwarf @fxt
star/test_suite/make_co_wd @wmwolf @evbauer @fxt
star/test_suite/make_env @rjfarmer
star/test_suite/make_he_wd @evbauer @fxt
star/test_suite/make_metals @fxt
star/test_suite/make_o_ne_wd @fxt @evbauer
star/test_suite/make_planets @fxt
star/test_suite/make_sdb @evbauer
star/test_suite/make_zams @fxt
star/test_suite/make_zams_low_mass @fxt
star/test_suite/make_zams_ultra_high_mass @fxt @rjfarmer
star/test_suite/ns_c @rjfarmer @fxt
star/test_suite/ns_h @rjfarmer @fxt
star/test_suite/ns_he @rjfarmer @fxt
star/test_suite/other_physics_hooks @fxt
star/test_suite/pisn @rjfarmer
star/test_suite/radiative_levitation @evbauer
star/test_suite/R_CrB_star @fxt
star/test_suite/relax_composition_j_entropy @warrickball
star/test_suite/rsp_BEP @rsmolec
star/test_suite/rsp_BLAP @rsmolec
star/test_suite/rsp_Cepheid @rsmolec
star/test_suite/rsp_Cepheid_6M @rsmolec
star/test_suite/rsp_check_2nd_crossing @rsmolec
star/test_suite/rsp_Delta_Scuti @rsmolec
star/test_suite/rsp_gyre @rsmolec
star/test_suite/rsp_RR_Lyrae @rsmolec
star/test_suite/rsp_save_and_load_file @rsmolec
star/test_suite/rsp_Type_II_Cepheid @rsmolec
star/test_suite/semiconvection  @annethoul
star/test_suite/simplex_solar_calibration @mjoyceGR
star/test_suite/test_case_template @fxt
star/test_suite/test_memory @rjfarmer
star/test_suite/timing @rjfarmer
star/test_suite/T_tau_gradr @warrickball
star/test_suite/twin_studies @fxt
star/test_suite/wd_acc_small_dm @wmwolf
star/test_suite/wd_aic @fxt
star/test_suite/wd_c_core_ignition @wmwolf
star/test_suite/wd_cool_0.6M @evbauer @fxt
star/test_suite/wd_diffusion @evbauer
star/test_suite/wd_he_shell_ignition @wmwolf
star/test_suite/wd_nova_burst @wmwolf
star/test_suite/wd_stable_h_burn @wmwolf

star/test_suite/12M_pre_ms_to_core_collapse @rjfarmer
star/test_suite/20M_pre_ms_to_core_collapse @rjfarmer
star/test_suite/split_burn_big_net @rjfarmer
star/test_suite/zams_to_cc_80 @rjfarmer
star/test_suite/20M_z2m2_high_rotation @rjfarmer


binary/test_suite/double_bh @orlox @rjfarmer
binary/test_suite/evolve_both_stars @orlox @mjoyceGR
binary/test_suite/jdot_gr_check @orlox
binary/test_suite/jdot_ls_check @orlox
binary/test_suite/jdot_ml_check @orlox
binary/test_suite/star_plus_point_mass @orlox @rjfarmer
binary/test_suite/star_plus_point_mass_explicit_mdot @orlox
binary/test_suite/wind_fed_bhhmxb @orlox @rjfarmer

astero/test_suite/astero_adipls @warrickball
astero/test_suite/astero_gyre @warrickball
astero/test_suite/example_astero @warrickball
astero/test_suite/surface_effects @warrickball

[ci optional] Added csound limiter to tdc.
  turb/public/turb.f90
Owners: @adamjermyn

Turn off convection in ccsn_IIp to make it pass
  star/test_suite/ccsn_IIp/inlist_common
  star/test_suite/ccsn_IIp/inlist_edep
  star/test_suite/ccsn_IIp/inlist_end_infall
  star/test_suite/ccsn_IIp/inlist_infall
  star/test_suite/ccsn_IIp/inlist_shock_common
Owners: @rjfarmer, @fxt

[ci optional] Cherrypicked Pablos changes from no_cs branch
  star/test_suite/ccsn_IIp/inlist_common
  star/test_suite/ccsn_IIp/inlist_edep
  star/test_suite/ccsn_IIp/inlist_end_infall
  star/test_suite/ccsn_IIp/inlist_infall
  star/test_suite/ccsn_IIp/inlist_shock_common
Owners: @rjfarmer, @fxt

Tdc_gamma (#371)
  astero/test_suite/example_astero/inlist_astero_search_controls
  star/private/turb_support.f90
  star/test_suite/12M_pre_ms_to_core_collapse/inlist_to_lgTmax
  star/test_suite/cburn_inward/inlist_cburn_inward
  star/test_suite/ccsn_IIp/inlist_common
  star/test_suite/ccsn_IIp/inlist_edep
  star/test_suite/ccsn_IIp/inlist_end_infall
  star/test_suite/ccsn_IIp/inlist_infall
  star/test_suite/ccsn_IIp/inlist_shock_common
  star/test_suite/simplex_solar_calibration/inlist_simplex_search_controls_solar
  turb/make/makefile_base
  turb/private/mlt.f90
  turb/private/tdc.f90
  turb/private/tdc_support.f90
  turb/public/turb.f90
  turb/test/src/test_turb.f90
  turb/test/tdc_debug_plotter.py
  turb/test/test_output
Owners: @warrickball, @rjfarmer, @fxt, @mjoyceGR, @adamjermyn

Tdc_gamma (#371)
  astero/test_suite/example_astero/inlist_astero_search_controls
  star/private/turb_support.f90
  star/test_suite/12M_pre_ms_to_core_collapse/inlist_to_lgTmax
  star/test_suite/cburn_inward/inlist_cburn_inward
  star/test_suite/ccsn_IIp/inlist_common
  star/test_suite/ccsn_IIp/inlist_edep
  star/test_suite/ccsn_IIp/inlist_end_infall
  star/test_suite/ccsn_IIp/inlist_infall
  star/test_suite/ccsn_IIp/inlist_shock_common
  star/test_suite/simplex_solar_calibration/inlist_simplex_search_controls_solar
  turb/make/makefile_base
  turb/private/mlt.f90
  turb/private/tdc.f90
  turb/private/tdc_support.f90
  turb/public/turb.f90
  turb/test/src/test_turb.f90
  turb/test/tdc_debug_plotter.py
  turb/test/test_output
Owners: @warrickball, @rjfarmer, @fxt, @mjoyceGR, @adamjermyn

[ci skip] Add rates_other_rate_get hook
  rates/private/raw_rates.f90
  rates/public/rates_def.f90
Owners: @rjfarmer, @fxt

[ci skip] Add rates_other_rate_get hook
  rates/private/raw_rates.f90
  rates/public/rates_def.f90
Owners: @rjfarmer, @fxt

[ci converge] increase max model number (#292)
  star/job/run_star_support.f90
Owners: none

[ci converge] increase max model number (#292)
  star/job/run_star_support.f90
Owners: none

[ci skip] added links to the MESA papers
  docs/source/about.rst
Owners: @rhdtownsend

[ci skip] documenting the ci converge switch
  docs/source/developing/test_suite.rst
Owners: @rhdtownsend

Change net before setting history columns
  star/job/run_star_support.f90
Owners: none

Change net before setting history columns
  star/job/run_star_support.f90
Owners: none

[ci skip] hist+prof outputs for rates
  star/defaults/history_columns.list
  star/defaults/profile_columns.list
Owners: none

[ci skip] neu not new
  star/defaults/profile_columns.list
Owners: none

[ci skip] links to instrument papers & documented ci converge
  docs/source/about.rst
  docs/source/developing/test_suite.rst
Owners: @rhdtownsend

[ci skip] links to instrument papers & documented ci converge
  docs/source/about.rst
  docs/source/developing/test_suite.rst
Owners: @rhdtownsend

Github action to test several sdk's
  .github/workflows/build-linux.yml
Owners: none

Github action to test several sdk's
  .github/workflows/build-linux.yml
Owners: none

[ci skip] Reset github action for now
  .github/workflows/build-linux.yml
Owners: none

[ci skip] Reset github action for now
  .github/workflows/build-linux.yml
Owners: none

[ci skip] raw_rates in history & profile files
  star/defaults/history_columns.list
  star/private/history.f90
  star/private/history_specs.f90
  star/private/profile.f90
  star/private/profile_getval.f90
Owners: none

screened_rate, eps_nuc, and eps_neu boilerplate
  star/private/history.f90
  star/private/history_specs.f90
  star/private/profile.f90
  star/private/profile_getval.f90
Owners: none

[ci skip] changed names to eps_neu_rate and eps_nuc_rate
  star/defaults/history_columns.list
  star/defaults/profile_columns.list
  star/private/history.f90
  star/private/history_specs.f90
  star/private/profile.f90
  star/private/profile_getval.f90
Owners: none

[ci skip] cleaner interface for populating profile files
  star/private/profile.f90
  star/private/profile_getval.f90
Owners: none

[ci skip] typo: your -> you're
  eos/private/eosdt_load_tables.f90
Owners: @fxt, @aarondotter, @adamjermyn, @evbauer

[ci skip] typo: your -> you're
  eos/private/eosdt_load_tables.f90
Owners: @fxt, @aarondotter, @adamjermyn, @evbauer

[ci skip] first try at screen, eps_nuc, eps_neu
  star/private/profile_getval.f90
Owners: none

[ci skip] Added fast exponential per Perini & Reitz.
  math/public/math_lib_crmath.f90
  math/test/test_output.CRMATH
Owners: @rhdtownsend

[ci skip] Implemented fxt improvements.
  math/public/math_lib_crmath.f90
  math/test/test_output.CRMATH
Owners: @rhdtownsend

[ci skip] Added flog.
  math/public/math_lib_crmath.f90
Owners: @rhdtownsend

[ci skip] Add a known bugs page to the docs
  docs/source/index.rst
  docs/source/known_bugs.rst
Owners: @rhdtownsend

[ci skip] Add a known bugs page to the docs
  docs/source/index.rst
  docs/source/known_bugs.rst
Owners: @rhdtownsend

[ci skip] Fix documentation for controls
  star/defaults/controls.defaults
Owners: none

[ci skip] Fix documentation for controls
  star/defaults/controls.defaults
Owners: none

[ci skip] documented the atm bug on the website
  docs/source/known_bugs.rst
Owners: @rhdtownsend

[ci skip] documented the atm bug on the website
  docs/source/known_bugs.rst
Owners: @rhdtownsend

[ci skip] using the appropriate code markdown
  docs/source/known_bugs.rst
Owners: @rhdtownsend

[ci skip] using the appropriate code markdown
  docs/source/known_bugs.rst
Owners: @rhdtownsend

restart photo fix
  star/work/re
Owners: none
