Repository MESAHub/mesa, changes with the owners that CODEOWNERS names for each.
All owners: @rhdtownsend, @warrickball, @orlox, @fxt44, @evbauer, @Debraheem, @mjoyceGR, @rsmolec, @annethoul, @aarondotter, @wmwolf

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

### Modules ###

adipls/ @rhdtownsend @warrickball
astero/ @warrickball
atm/ @rhdtownsend @warrickball
autodiff/ 
binary/ @orlox
chem/ @fxt44
colors/ 
const/ @fxt44
data/ 
docs/ @rhdtownsend
eos/ @fxt44 @evbauer
gyre/ @rhdtownsend @warrickball
hdfio5 @rhdtownsend
interp_1d/ @rhdtownsend 
interp_2d/ @rhdtownsend 
ionization/ @fxt44
kap/ @fxt44 @Debraheem
linters/ 
turb/ 
math/ @rhdtownsend
mtx/  @mjoyceGR
net/ @fxt44 @Debraheem
neu/ @fxt44 @Debraheem
num/ 
rates/ @fxt44 @Debraheem
#star/
#star_data/
#stella/ 
utils/ @rhdtownsend @warrickball 

### Star ###

star/private/rsp_*.f90 @rsmolec
star/private/phase_separation.f90 @evbauer

### Test suite cases ###

star/test_suite/1.3M_ms_high_Z @fxt44 
star/test_suite/1.4M_ms_op_mono @fxt44
star/test_suite/15M_dynamo @fxt44
star/test_suite/1.5M_with_diffusion @annethoul
star/test_suite/16M_conv_premix @annethoul
star/test_suite/16M_predictive_mix @annethoul
star/test_suite/1M_pre_ms_to_wd @annethoul @mjoyceGR
star/test_suite/1M_thermohaline @mjoyceGR
star/test_suite/20M_z2m2_high_rotation
star/test_suite/5M_cepheid_blue_loop @annethoul @rsmolec
star/test_suite/7M_prems_to_AGB @annethoul
star/test_suite/accreted_material_j @orlox
star/test_suite/adjust_net 
star/test_suite/c13_pocket @fxt44
star/test_suite/carbon_kh @evbauer
star/test_suite/cburn_inward 
star/test_suite/ccsn_IIp @fxt44
star/test_suite/check_redo @fxt44
star/test_suite/check_pulse_atm @warrickball
star/test_suite/conductive_flame @fxt44 
star/test_suite/conserve_angular_momentum @orlox
star/test_suite/conv_core_cpm @evbauer
star/test_suite/custom_colors 
star/test_suite/custom_rates @evbauer  @fxt44
star/test_suite/high_rot_darkening @orlox
star/test_suite/dev_ppisn 
star/test_suite/diffusion_smoothness @fxt44
star/test_suite/extended_convective_penetration @fxt44
star/test_suite/gyre_in_mesa_bcep @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_envelope @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_ms @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_rsg @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_spb @rhdtownsend @annethoul
star/test_suite/gyre_in_mesa_wd @rhdtownsend @annethoul
star/test_suite/hb_2M @annethoul
star/test_suite/high_mass @fxt44 
star/test_suite/high_z @fxt44
star/test_suite/hot_cool_wind @fxt44
star/test_suite/hse_riemann @fxt44
star/test_suite/irradiated_planet @fxt44
star/test_suite/low_z @aarondotter
star/test_suite/magnetic_braking 
star/test_suite/make_brown_dwarf @fxt44
star/test_suite/make_co_wd @wmwolf @evbauer @fxt44
star/test_suite/make_env 
star/test_suite/make_he_wd @evbauer @fxt44
star/test_suite/make_metals @fxt44
star/test_suite/make_o_ne_wd @fxt44 @evbauer
star/test_suite/make_planets @fxt44
star/test_suite/make_pre_ccsn_13bvn @Debraheem
star/test_suite/make_sdb @evbauer
star/test_suite/make_zams @fxt44
star/test_suite/make_zams_low_mass @fxt44
star/test_suite/make_zams_ultra_high_mass @fxt44 
star/test_suite/ns_c @fxt44
star/test_suite/ns_h @fxt44
star/test_suite/ns_he @fxt44
star/test_suite/other_physics_hooks @fxt44
star/test_suite/pisn 
star/test_suite/radiative_levitation @evbauer
star/test_suite/R_CrB_star @fxt44
star/test_suite/relax_composition_j_entropy @warrickball
star/test_suite/rsp_BEP @rsmolec
star/test_suite/rsp_BLAP @rsmolec
star/test_suite/rsp_Cepheid @rsmolec
star/test_suite/rsp_Cepheid_6M @rsmolec
star/test_suite/rsp_check_2nd_crossing @rsmolec
star/test_suite/rsp_Delta_Scuti @rsmolec
star/test_suite/rsp_gyre @rsmolec
star/test_suite/rsp_RR_Lyrae @rsmolec
star/test_suite/rsp_save_and_load_file @rsmolec
star/test_suite/rsp_Type_II_Cepheid @rsmolec
star/test_suite/semiconvection  @annethoul
star/test_suite/simplex_solar_calibration @mjoyceGR
star/test_suite/test_case_template @fxt44
star/test_suite/test_memory 
star/test_suite/timing 
star/test_suite/T_tau_gradr @warrickball
star/test_suite/twin_studies @fxt44
star/test_suite/wd_acc_small_dm @wmwolf
star/test_suite/wd_aic @fxt44
star/test_suite/wd_c_core_ignition @wmwolf
star/test_suite/wd_cool_0.6M @evbauer @fxt44
star/test_suite/wd_diffusion @evbauer
star/test_suite/wd_he_shell_ignition @wmwolf
star/test_suite/wd_nova_burst @wmwolf
star/test_suite/wd_stable_h_burn @wmwolf

star/test_suite/12M_pre_ms_to_core_collapse @Debraheem
star/test_suite/20M_pre_ms_to_core_collapse @Debraheem
star/test_suite/split_burn_big_net
star/test_suite/zams_to_cc_80 @Debraheem
star/test_suite/20M_z2m2_high_rotation


binary/test_suite/double_bh @orlox 
binary/test_suite/evolve_both_stars @orlox @mjoyceGR
binary/test_suite/jdot_gr_check @orlox
binary/test_suite/jdot_ls_check @orlox
binary/test_suite/jdot_ml_check @orlox
binary/test_suite/star_plus_point_mass @orlox 
binary/test_suite/star_plus_point_mass_explicit_mdot @orlox
binary/test_suite/wind_fed_bhhmxb @orlox 

astero/test_suite/astero_adipls @warrickball
astero/test_suite/astero_gyre @warrickball
astero/test_suite/example_astero @warrickball
astero/test_suite/surface_effects @warrickball
astero/test_suite/fast_from_file @warrickball
astero/test_suite/fast_newuoa @warrickball
astero/test_suite/fast_scan_grid @warrickball
astero/test_suite/fast_simplex @warrickball

tighter period tolerance in rsp_Type_II_Cepheid (should fail)
  star/test_suite/rsp_Type_II_Cepheid/src/run_star_extras.f90
Owners: @rsmolec

toggle RSP_do_check_omega in rsp_Type_II_Cepheid
  star/test_suite/rsp_Type_II_Cepheid/inlist_rsp_Type_II_Cepheid
Owners: @rsmolec

Update changelog.rst
  docs/source/changelog.rst
Owners: @rhdtownsend

Update changelog.rst
  docs/source/changelog.rst
Owners: @rhdtownsend

Update changelog.rst
  docs/source/changelog.rst
Owners: @rhdtownsend

Update changelog.rst
  docs/source/changelog.rst
Owners: @rhdtownsend

Update changelog.rst
  docs/source/changelog.rst
Owners: @rhdtownsend

Update changelog.rst
  docs/source/changelog.rst
Owners: @rhdtownsend

[ci skip] changelog formatting
  docs/source/changelog.rst
Owners: @rhdtownsend

[ci skip] changelog formatting
  docs/source/changelog.rst
Owners: @rhdtownsend

update ppisn .mod file
  star/test_suite/ppisn/standard_he_dep.mod
Owners: none

update ppisn .mod file
  star/test_suite/ppisn/standard_he_dep.mod
Owners: none
